## Import the necessary libraries

In [112]:
import pandas as pd
from geopy.geocoders import Nominatim

## Reading the dataset

In [113]:
df = pd.read_csv("datasets/supermarkets.csv")
df

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

## Fixing a wrong State code

In [115]:
df.iloc[1,3] = "CA 94114"

## Calling the geopy class that will convert full addresses to coordinates

In [118]:
nom=Nominatim(scheme="http")

### Testing the Nominatim class

In [119]:
n = nom.geocode("3995 23rd St, San Francisco, CA 94114")
n

Location(3995, 23rd Street, Noe Valley, SF, California, 94114, United States of America, (37.7529648, -122.4317141, 0.0))

## Creating a new column with the full address of each supermarket

In [120]:
df["Address"]=df["Address"]+", "+df["City"]+", "+df["State"]+", "+df["Country"]

## Applying the imported method to create a new column with the coordinates of each supermarket

In [121]:
df["Coordinates"]=df["Address"].apply(nom.geocode)
df

,ID,Address,City,State,Country,Name,Employees,Coordinates
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,"(21st Street, Mission District, SF, California..."
1,2,"735 Dolores St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Bready Shop,15,"(Dolores Street, Bernal Heights, SF, Californi..."
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25,"(Hill Street, Liberty Street Historic District..."
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995, 23rd Street, Noe Valley, SF, California..."
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12,"(Sanchez Street, Noe Valley, SF, California, 9..."
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20,"(Alvarado Street, Noe Valley, SF, California, ..."

In [129]:
df["Latitude"]=df["Coordinates"].apply(lambda x: x.latitude if x.latitude else None)
df["Longitude"]=df["Coordinates"].apply(lambda x: x.longitude if x.longitude else None)

In [133]:
df.drop(columns=["Coordinates"], inplace=True)
df

,ID,Address,City,State,Country,Name,Employees,Latitude,Longitude
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,37.757051,-122.418804
1,2,"735 Dolores St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Bready Shop,15,37.741497,-122.424096
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25,37.756102,-122.421041
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10,37.752965,-122.431714
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12,37.748362,-122.429346
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20,37.753666,-122.434440